html {
    font-family: "Verdana", sans-serif
}
body {
    background-color: lightcyan;
    font-family: "Verdana", sans-serif;
}
.welcome {
    font-family: "Segoe UI", sans-serif;
    text-align: center;
}
p {
    text-decoration: underline;
    text-align: center;
    color: MediumSlateBlue;
}
.welcomePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.flowchart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-align: center;
    width: 1000px;
}
.achievement {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
    width: 1300px;
}
.navigator {
    text-align: center;
}
.btn {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'CopperPlate',Fantasy;
    color: black;
    background-color: skyblue;
    border-bottom: 5px solid #165195;
    text-shadow: 0px -2px rgba(0,0,0,0.44);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin: 20px 20px 100px 20px;
    display: inline-block;
    transition: all 0.5s;
}
.btn:hover {
    background-color: darkgray;
    border-bottom: 5px solid gray;
    box-shadow: 0px 0px 20px 0px gray;
    transition: 0.3s;
}
.btn:active {
    transform: translateY(3px);
    background-color: darkgray;
    border-bottom: 2px solid gray;
    transition: 0.1s;
}
.linkclass {
    text-align: center;
}
.link {
    text-decoration: underline;
    font-family: 'Verdana',Sans-serif;
    color: black;
}
.link:hover {
    color: forestgreen;
    transition: 0.5s;
}
.essayclass {
    width: 1500px;
    position: relative;
    margin: 100px auto;
}
.essay {
    font-family: 'Trirong', serif;
    background-color: lightpink;
    border-bottom: 5px solid lightcoral;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    transition: all 0.5s;
}
.center {
    text-align: center;
}
.essay:hover {
    box-shadow: 0px 0px 20px 0px gray;
}
